[Desktop Entry]
Name=xTerminal Pro
GenericName=Terminal Workstation
Comment=Enterprise Multi-Protocol SSH & DevOps Terminal Workstation
Exec=xterminal
Terminal=false
Type=Application
Icon=com.lyarinet.xterminal
StartupWMClass=xTerminal
Categories=System;TerminalEmulator;
Keywords=ssh;sftp;terminal;devops;telnet;serial;
