@import "tailwindcss";

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0A0A0B;
  }
  ::-webkit-scrollbar-thumb {
    background: #222224;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #333336;
  }
}
